*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: beige;
    
}

.header{
    background-color: rgb(131, 184, 245);
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1;  
}
.footer{
    position: fixed;
    border-radius: 10px 10px;
    margin: 670px 0px 0px 1450px;
    z-index: 1;
    
    background-color: rgba(0, 0, 0, 0.39);
}
.footer img:hover{
    border-radius: 10px 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.664);
   
    
}
.nav{
    float: right;
    margin-right: 40px;
    margin-top: 5px;

}
.nav a{
    text-decoration: none;
}
.nav li{
   
    display: inline-flex;
    margin: 10px;
    
}
.nav li:hover{
    background-color: red;
    
    
    
}
.logo{
    height: 35px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 2px;
    
}

.clear{
    clear: both;
}
.image{
    height:500px;
    width: 100%;
    
    
}
.banner{
  
    text-align: justify;
    
   
}
.course h1,.facility h1{
    
   text-align: center;
   color: rgb(0, 42, 255);
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px black;

    
}


.course1,.course2,.course3{
 box-shadow: 1px 1px 1px 1px black;
 border-radius: 15px;
 background-color: yellow;
 width: 25%;
}
.course1:hover,.course2:hover,.course3:hover{
    box-shadow: 2px 2px 2px 2px black;
 border-radius: 15px;
 background-color: yellow;
 width: 25%;
 
}

.course1{
    padding: 10px;
    margin-left: 7.5%;
    margin-top: 1px;  
}
.course2{
    margin-left: 37.5%;
    margin-top: -176px;
    padding: 10px;   
}
.course3{   
    margin-left: 67.5%;
    margin-top: -176px;
    padding: 10px;  
}
.btn{
   border: 2px ;
  background-color: white;
  color: black;
  text-decoration: none;
  position: relative;
  top: 15px;
  left: 10px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 5px 5px 5px black;
}
.btn:hover{
    background-color: rgb(0, 250, 250);
    color: white;
}
.fc{
    
  position: relative;
  height: 1900px;
  margin-top: 40px;
}
.ads{ 
    
    position: relative;
    height: 1900px;
}
.cnt{
    position: relative;
  height: 1900px;
}
.mid p::first-letter{
    font-size: 400%;
  
}
.contact{
    margin: 30px 25%;
    width: 50%;
    border-radius: 20px;
    border: 2px solid blue;
   

}
.contact:hover,.contact:focus{
   
    border: 2px solid blue;
    box-shadow: 0px 0px 20px 4px rgb(66, 66, 255);
  
}
legend{
    padding: 5px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 119, 255);
    color: white;
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
}

input{
    cursor: pointer;
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid blue;
    outline: none;
}
#name,#email{
    margin-top: 30px;
    margin-left: 60px;
    transition: 0.3s;
}

#phno,#company{
    margin-left: 50px;
    transition: 0.3s;
}

#msg{
    
    margin: 30px 0px;
    margin-left: 60px;
}
#phno:hover,#phno:focus,#company:hover,#company:focus{
    margin-left: 25px;
    width: 40%;
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
}
#name:hover,#email:hover,#name:focus,#email:focus{
   width: 40%;
    margin-left: 40px;
    margin-right: 0px;
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
}

textarea{
    cursor: pointer;
    width: 77%;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    border: 2px solid blue;
    outline: none;
    transition: 0.3s;
}
textarea:hover,textarea:focus,#msg:hover,#msg:focus{
    margin: 30px 0px;
    margin-left: 35px;
    width: 85%;
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
}
.submit{
    border: 3px white;
    margin-left: 38%;
    cursor: pointer;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    width: 15%;
    color: white;
    border-radius: 20px;
    background-color:rgb(57, 57, 235);
    padding: 10px;   
}
.submit:hover{
    
    width:18% ;
    margin-left: 36.5%;
    font-size: 17px;
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
    
}
.about{
    height: 500px;
    width: 30%;
    margin-top: 0px;
    margin-left: 35%;
   
    border-radius: 10px;
    background: rgb(50,50,50);
    box-shadow: 1px 1px 10px 5px  rgb(88, 124, 241);
}
.about a{
    margin-left: 70%;
}
.about h2{
    text-align: center;
   padding-top: 70px;
   color: dodgerblue;
   
  text-shadow: white;
  box-shadow: 0px 0px 10px 1px white;
  
}
.about p{
    text-align: justify;
    width: 80%;
    margin: 15px 10%;
    font-size: 18px;
    color: gray;

}
.profile{
    height: 100px;
    width: 100px;
    position: relative;
    margin-left: 46%;
   top: 60px;
   border-radius: 50px;  
   box-shadow: 1px 1px 10px 1px  black;
    background: rgba(90, 82, 82, 0.349);
    
}
.profile img{
    height: 100%;
    width: 100%;
    border-radius: 50px;
    
}
.social{
    width: 50px;
    position: relative;
    top: -450px;
    left: 1143px;
    
}




    